body {
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
  background: #0a0a0a;
  color: #fff;
}

.game-header {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.game-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.45;
}

.game-info {
  position: absolute;
  bottom: 30px;
  left: 50px;
}

.game-info h1 {
  font-size: 40px;
  color: #00eaff;
  text-shadow: 0 0 20px #00eaff;
}

.genre, .rating {
  font-size: 18px;
  margin-top: 5px;
  color: #ccc;
}

.game-description {
  width: 80%;
  margin: 50px auto;
}

.game-description h2 {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
}

.game-description p {
  margin-top: 10px;
  line-height: 2;
}

.game-gallery {
  width: 80%;
  margin: auto;
}

.game-gallery h2 {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
  margin-bottom: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 12px;
  transition: 0.3s;
  border: 2px solid #111;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  border-color: #00eaff;
  box-shadow: 0 0 15px #00eaff;
}

.download-section {
  text-align: center;
  margin: 40px 0;
}

.download-btn {
  padding: 12px 30px;
  border-radius: 10px;
  color: #00eaff;
  border: 2px solid #00eaff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.download-btn:hover {
  background: #00eaff;
  color: #000;
  box-shadow: 0 0 20px #00eaff;
}
